.tabStyle {
  cursor: pointer;
  font-size: 16px;
  color: rgb(30, 30, 30);
  font: 20px "Brush Script MT", cursive;
  text-decoration: none;
  border-radius: 5px;
  width: 10%;
  background-color: rgb(255, 223, 181);
}
