.menuContainer {
  background: radial-gradient(rgb(255, 237, 213), rgb(255, 223, 181));
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menuHeader {
  font: bold 30px "Brush Script MT", cursive;
  color: rgb(30, 30, 30);
  text-align: center;
}

.listItem {
  margin: 10px;
  border-radius: 10px;
  font: 20px "Dancing Script", fantasy;
  color: rgb(30, 30, 30);
  background-color: rgb(255, 223, 181);
  list-style: none;
  text-align: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
