.reviewsContainer {
  display: flex;
  margin: 50px;
  align-items: center;
  justify-content: center;
}

.listItem {
  border-radius: 5px;
  font: 16px "Dancing Script", fantasy;
  color: rgb(30, 30, 30);
  background-color: rgb(255, 223, 181);
  list-style: none;
}
