.header {
  background-image: url("./header.jpg");
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  font: bold 70px "Dancing Script", fantasy;
  color: #0ecf00;
  text-shadow: #000 10px 10px 0.5rem;
}
